@import '../../index.scss';

.form-container__title{
    text-align: center;
    margin-top: 10px;
}

.form-container{
    @include forms;
    margin-left: 150px;
    .form{
        
        .form__form-group{
            @include center;
            .input_style{
                @include center; 
                @include inputform;
            }
            margin-bottom: 20px;
        }
        .form__form-group__label{
            margin-right: 10px;
        }
        .form__form-group__button{
            padding: 5px;
            
        }
    }
}